header {
    text-align: center;
    font-weight: bold;
}

body {
    max-width: 100%;
    height: 100vh;
    background-image: url("./images/IMG_0650.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    border-top: dashed grey 1px;
    border-bottom: dashed grey 1px;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
}

nav ul li {
    padding-right: 20px;
}

nav ul li:last-child {
    padding-right: 0;
}

.redirect {
    color:blue;
    text-decoration: underline;
}

.athlete form {
    display: flex;
    flex-flow: row wrap;
}

.athlete form p * {
    margin-right: 5px;

}

footer {
    padding-top: 10em;
    font-size: 75%;
}